# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Mac file
*.DS_Store

# Exec file
*.exe
ytoolsbox-gin-custom/main
ytoolsbox-req-custom/1.png
/ytoolsbox-gin-custom/.idea
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/yToolsBox.iml
