/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 让所有的面包屑路径都与下面的组件有一定的距离 */
.el-breadcrumb {
  margin-bottom: 15px;
}

/* 卡片的一些样式自定义 */
.el-Card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 20px;
}

.el-pagination {
  margin-top: 15px;
}

.el-steps {
  margin: 15px 0;
}

/* 级联选择器的展开高度 */
.el-cascader-menu {
  height: 300px;
}

/* 级联选择器输入框的长度 */
.el-cascader .el-input {
  width: 400px;
}
